.drag {
height:15.5%;
max-width:95%;
border: 1px #b0b0b2 solid;
padding: 0.2em;
margin:0.2em;
background-color:#f7f7f7;
color: black;  
font-family: sans-serif;
touch-action: none;
box-sizing: border-box;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.drag:hover {
box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
}
#Page {
width: 21cm;
min-height: 29.7cm;
margin: 1em auto;
border: 1px black solid;
}
.container {
margin:0 auto;
width:19cm;
}
.column {
float:left;
margin:0;
width:4.7cm;
height: 28cm;
}
.ligne {
margin:0 auto;
width:19cm;
height: 1cm;
text-align:center;
}
h3 {
display:inline-block;
}
button {
display:inline-block;
}
